@tailwind base;
@tailwind components;
@tailwind utilities;

#opcodes {
    max-height: 400px;
}
#contract-calls{
    max-height: 2650px;
}
.opcode {
    margin: 10px 5px;
    min-width: 200px;
} 
.contract-call {
    margin: 10px 5px;
    min-width: 200px;
} 
.operation-name {
    /* display: flex; */
    /* align-items: center; */
}

a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}