@tailwind base;
@tailwind components;
@tailwind utilities;

.opcode {
    margin: 10px 5px;
    min-width: 200px;
} 
.contract-call {
    margin: 10px 5px;
    min-width: 200px;
} 
.operation-name {
    display: flex;
    align-items: center;
}

a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}